
@font-face {
    font-family: gilroy;
    src: url(./image/Gilroy-Bold.ttf);
}
@font-face {
    font-family: gilroy;
    src: url(./image/Gilroy-Heavy.ttf);
}
@font-face {
    font-family: gilroy;
    src: url(./image/Gilroy-Light.ttf);
}
@font-face {
    font-family: gilroy;
    src: url(./image/Gilroy-Medium.ttf);
}
@font-face {
    font-family: gilroy;
    src: url(./image/Gilroy-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}





.header {
    background-color: #fff;
    width: 100%;
    color: #333;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.first-div {

    display: flex;
    padding: 0px 40px;
    width: 100%;
    max-width: 1350px;
    justify-items: center;
    margin: 0 auto;
}
.icoo{
        margin-top: 12px;
            height: 28px;
            margin-right: -44px;
            
}
.text {
    display: flex;
    color: white;
    width: 90%;
    justify-content: end;
    gap: 40px;
    padding: 7px 0px;
}

.text h1 {
    padding: 11px;
    gap: 9px;
    display: flex;
}

.text span {
    background: transparent;
    color: #1D1D1D;
    padding: 14px 17px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 4px;
    font-weight: 700;
}


/* General styles for the dropdown */
.second-div {
    display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        padding: 12px 20px;
   
    max-width: 1350px;
        justify-items: center;
        margin: 0 auto;
}

nav {
    display: flex;
    gap: 5px;
}

.custom-dropdown {
    position: relative;
    font-family: gilroy;
}

.dropdown-trigger {
    cursor: pointer;
    background: #ffffff;
    font-size: 16px;
    padding: 10px 16px;
    transition: all 0.3s ease;
    display: flex;
        gap: 7px;
        color: #757474;
}
.dropdown-trigger:hover {
    background: #eaeaea;
}

.dropdown-menu {
    display: none;
    /* Hidden by default */
    position: absolute;
    top: 100%;
    left: 0;
    background: #ffffff;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
}
.dropdown-menu li {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdown-menu li:hover {
    background-color: #f1f1f1;
}

.dropdown-menu li a {
    text-decoration: none;
    color: #333;
}

/* Show dropdown menu on hover */
.custom-dropdown:hover .dropdown-menu {
    display: block;
}

/* Button styles */
button.Started {
background-color: #62D84E;
    color: #333;
    font-weight: 700;
    border: none;
    padding: 15px 30px;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 15px;
    margin-right: 29px;
}

button.Started:hover {
    background: #76f85f;
}
/* Style for the section */
.first {
    background-image: url('image/back-g.webp');
    background-size: cover;
    /* Ensures the image covers the entire section */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
       
   
}
.frt{
max-width: 1350px;
    margin: 0 auto;
    padding: 73px 36px;
}
form{
    
            background: #032D42E6;
                width: 50%;
                    padding: 15px 40px;
                    border-radius: 15px;
                  
}
form h1{
    color: #62D84E;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 44px;
}
h1 span{
    color: #fff;
    font-weight: 600;
}
p{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
        line-height: 1.5;
        margin-bottom: 30px;
}
.btn-div111{
        display: flex;
        margin-bottom: 40px;
            gap: 35px;
}
.btn1{
    cursor: pointer;
        background: #62D84E;
            padding: 13px 28px;
            border: none;
            border-radius: 25px;
            font-size: 15px;
            font-weight: bolder;
            transition: 0.5s;
}
.btn1:hover{
    background: #76f85f;
    
}

.btn2{
    cursor: pointer;
            padding: 13px 28px;
            border: none;
            font-size: 15px;
            font-weight: bolder;
            background: transparent;
            margin-left: -14px;
            color: #fff;
}
.arrow{
        height: 31px;
            margin-left: -54px;
            margin-top: 7px;
}
.second{
    background-color: #dcedfb;
    display: flex;
        padding: 20px 225px;
        margin-bottom: -10px;
        
       
}
.sec{
    display: flex;
    max-width: 1350px;
        justify-items: center;
        margin: 0 auto;

}
 

  rich-text {
      font-family: 'GilroySemibold', sans-serif;
      font-size: 18px;
      font-weight: 500;
  }
.btn3{
    
            margin-left: 22px;
                padding: 8px 17px;
                background-color: transparent;
                border-radius: 25px;
                font-size: 15px;
                font-weight: 500;
                margin-top: -8px;
                transition: 0.5s;
                border: 2px solid black;
        
}
.btn3:hover{
    color: #fff;
    background: #464545;
}
.thii{
   
    background: #f7f7f7;
}
.third{
        display: flex;
            padding: 30px 16px;
            max-width: 1350px;
                justify-items: center;
                margin: 0 auto;
           
           
}
.thi h1{
    text-align: center;
        padding: 50px;
        font-size: 33px;
    background: #f7f7f7;
    margin-bottom: -10px;
}
.container {
    padding: 0px 20px;
    border-radius: 8px;
    width: 50%;
    
}
.container h1{
font-size: 23px;
    margin: 10px 0;
    font-weight: 700;
    color: #333;
    padding: 8px 0px;
    height: 45px;
}
.image {
    width: 100%;
    height: 200px;
    /* Fixed height */
    object-fit: cover;
    /* Ensures the image maintains aspect ratio */
    border-radius: 8px;
}

h1 {
    font-size: 23px;
        margin: 10px 0;
        font-weight: 800;
        color: #333;
        padding: 8px 0px;
}

.sp {
    display: block;
    font-size: 16px;
    color: #4c4c4c;
    margin-bottom: 20px;
    line-height: 1.5;
}

.buttons {
    display: flex;
    gap: 10px;
}

.btn4{
        padding: 12px 20px;
            font-size: 15px;
            font-weight: bold;
            background: transparent;
            border-radius: 25px;
            border-color: #62d84e;
            transition: 0.5s;
}
.btn4:hover{
    
    background-color: #62d84e;
}
.icons{
        height: 18px;
            width: 18px;
            margin-left: -2px;
            margin-bottom: -3px;
            margin-top: 1px;
}
.btn5 {
padding: 12px 20px;
    font-size: 15px;
    font-weight: bold;
    background: transparent;
    border: none;
}



/* section 4         */

.text4{
    background: #f7f7f7;
}

.texttt{
padding: 37px 42px;
    max-width: 1350px;
    justify-items: center;
    margin: 0 auto;
}
.texttt h1 {
                font-size: 36px;
                    margin: 38px 0;
                    font-weight: 600;
                    color: #333;
                    padding: 0px 12px;
                    height: 50px;
                    margin-bottom: 20px;
}
.btn09{
    
            padding: 12px 20px;
            font-size: 15px;
            font-weight: bold;
            background: transparent;
            border-radius: 25px;
            border-color: #62d84e;
            transition: 0.5s;
        }
    
 .btn09:hover {
    
            background-color: #62d84e;
        
}
.warr{
background: #f7f7f7;
    height: 585px;
}
.wrapper{
    max-width: 1350px;
        justify-items: center;
        margin: 0 auto;
}






.foui {

    background: #f7f7f7;
}

.fourth {
    display: flex;
    padding: 1px 40px;
    max-width: 1350px;
    justify-items: center;
    margin: 0 auto;


}

.for h1 {
    padding: 35px;
    font-size: 41px;
    font-weight: 800;
    background: #f7f7f7;
    margin-bottom: -10px;
}

.container2 {
    width: 422px;
    border-radius: 8px;
        background-color: #fff;

}

.img {
    width: 100%;
    height: 200px;
    /* Fixed height */
    object-fit: cover;
    /* Ensures the image maintains aspect ratio */
    border-radius: 8px;
}
h1 {
    font-size: 17px;
    margin: 10px 0;
    font-weight: 600;
    color: #333;
    padding: 8px 0px;
    height: 50px;
}



.buttonss {
    display: flex;
    gap: 10px;
}

.iconss {
    height: 18px;
    width: 18px;
    margin-left: -2px;
    margin-bottom: -3px;
}

.btn7 {
    font-size: 17px;
    font-weight: bold;
    background: transparent;
    border: none;
}



.arrow1 {
        height: 32px;
            margin-top: 7px;
}

.arrow11{
    height: 31px;
        margin-left: -21px;
        margin-top: 10px;
}








.wrapper {
  
    width: 100%;
    position: relative;
    padding: 0px 34px;
}

.wrapper i {
    height: 50px;
    width: 50px;
    background: transparent;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25 rem;
    transform: translateY(-50%);
    border: 1px solid black;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: 0.5s;

}
.wrapper i:hover {
    background: rgba(0, 0, 0, 0.23)
}

.wrapper i:first-child {
    left: 7px;

}

.wrapper i:last-child {
    right: 31px;

}
.text1{
        padding: 0px 18px;
        line-height: 1.5;
        
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel :where(.card, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel .card {
    scroll-snap-align: start;
        list-style: none;
        background: #fff;
        border-radius: 8px;
        display: flex;
        cursor: pointer;
        width: 90%;
        padding-bottom: 15px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}



.card .img img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
}

.card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.card span {
    display: block;
        font-size: 16px;
        color: #353333;
        margin-bottom: 15px;
        line-height: 1.5;

}
.lll a{
    text-decoration: none;
    line-height: 3;
    color: #4999af;
}

.fiv{
    background-color: #032d42;
}
.five{
display: flex;
    padding: 70px 41px;
    gap: 160px;
    max-width: 1350px;
    justify-items: center;
    margin: 0 auto;
}
.form1{
        padding: 40px 0px;
}
.vid{
    height: 356px;
    border-radius: 15px;
}


.form1 h1 {
        color: #62D84E;
            font-weight: 600;
            margin-bottom: -25px;
            font-size: 33px;
            width: 56%;
}

h1 span {
    color: #fff;
    font-weight: 600;
}
.form1 p{

            font-size: 20px;
                color: #fff;
                line-height: 1.6;
                margin-top: 75px;
                margin-bottom: 30px;
        
}
p {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    line-height: 1.5;
        margin-top: 76px;
    margin-bottom: 30px;
}

.btn-div {
    display: flex;
}

.btn22{
    color: #fff;
}
.form2 {
    padding: 53px 0px;
}

.form2 h1 {
        color: #333;
            font-weight: 800;
            margin-bottom: -39px;
            font-size: 30px;
            width: 100%;
}

.form2 h1 span {
    color: #333;
    font-weight: 600;
}


.form2 p {
    font-size: 20px;
    color: #353333;
    line-height: 1.6;
        margin-top: 85px;
        margin-bottom: 30px;
}
.h11{
            padding: 40px 231px;
        max-width: 1350px;
            justify-items: center;
            margin: 0 auto;
}
.h11 h1{
        font-size: 34px;
            font-weight: bold;
}
.items,.ittt{
            display: flex;
                gap: 170px;
                max-width: 1350px;
                justify-items: center;
                margin: 0 auto;
                align-items: center;
                justify-content: center;
                padding-top: 58px;
                padding-left: 25px;
                margin-bottom: 35px;
    
}
.ittt{
    border-top: 3px solid #e1e1e1;
}
.items .ittt img{
    height: 60px;
    transition: 0.5s;
    
}
.ittt:hover{
    border-top: 3px solid black;
}

.text1 p{
   
        color: black;
            font-size: 12px;
            margin-bottom: -5px;
            margin-top: 16px;
}




/* email */
.em{
        padding: 84px 461px;
        max-width: 1350px;
            justify-items: center;
            margin: 0 auto;
}
.em h1{
    
    font-size: 26px;
        margin: 10px 0px;
        font-weight: 600;
        color: #333;
        padding: 7px 0px;
        height: 50px;
}
 .email-form {
     text-align: center;
 }

 .email-form input[type="email"] {
     padding: 10px;
     width: 300px;
     border: 2px solid #ccc;
     border-radius: 5px;
     font-size: 16px;
 }

 .email-form button {
     padding: 13px 25px;
     margin-left: 10px;
     font-size: 16px;
     border: none;
     border-radius: 25px;
     background-color: #ccc;
     color: #fff;
     cursor: not-allowed;
     transition: background-color 0.3s ease, cursor 0.3s ease;
 }

 .email-form button.active {
     background-color: #62D84E;
     cursor: pointer;
 }
.footer{
padding: 45px 63px;
    max-width: 1350px;
        justify-items: center;
        margin: 0 auto;

}
.ff{
    border-top: 1px solid #e1e1e1;
    display: flex;
        gap: 80px;
        padding-top: 40px;
        
}
.footer .ff h2{
    margin-bottom: 20px;
    font-size: 16px;
}
.footer .ff a {
    margin-bottom: 20px;
    font-size: 16px;
}
.li{
    margin-bottom: 20px;
}
.li a{
    text-decoration: none;
    color: #4999af;
}
.last-div{
        padding: 45px 63px;
            max-width: 1350px;
            justify-items: center;
            margin: 0 auto;
}
.cen{
    border-top: 1px solid #e1e1e1;
    padding-left: 34%;
    padding-top: 40px;
}
.cen h1 {
    font-size: 30px;
    margin: 10px 0;
    font-weight: 600;
    color: #333;
    padding: 8px 0px;
    height: 50px;
}

.btn23 {
    color: #333;
}
.btn-div1{
    padding-left: 148px;
}
.cenn{
    display: flex;
    padding-top:70px ;
    justify-content: space-between;
}
.c1{
    display: flex;
    gap: 20px;
    width: 44%;
}
.c1 h3{
    border-left: 2px solid #e1e1e1;
    padding-left: 20px;
}.c2{
    display: flex;
        gap: 26px;
}
.c2 img{
    height:25px;
}
.c3{
    display: flex;
        padding-top: 50px;
        width: 102%;
}

.lii {
    margin-right: 18px;
   
}

.lii a {
    text-decoration: none;
    color: #4999af;
    
}




.warr2{
    background: #f7f7f7;
}
.wrapper2 {
    width: 100%;
        position: relative;
        padding: 0px 34px;
        height: 625px;
        max-width: 1350px;
        justify-items: center;
        margin: 0 auto;
}

.wrapper2 i {
    height: 50px;
    width: 50px;
    background: transparent;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    border: 1px solid black;
    font-size: 1.25 rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: 0.5s;

}
.wrapper2 i:hover {
    background: rgba(0, 0, 0, 0.23)

}

.wrapper2 i:first-child {
    left: 7px;

}

.wrapper2 i:last-child {
    right: 31px;

}

.text1 {
padding: 0px 21px;
    line-height: 1.3;

}
.text1 h1{
        font-size: 20px;
            font-weight: 800;
            color: #333;
            padding: 8px 0px;
            height: 40px;
}

.wrapper2 .carousel2 {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.carousel2::-webkit-scrollbar {
    display: none;
}

.carousel2 :where(.card, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel2.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel2.no-transition {
    scroll-behavior: auto;
}

.carousel2.dragging .card2 {
    cursor: grab;
    user-select: none;
}

.carousel2 .card2 {
    scroll-snap-align: start;
    list-style: none;
    background: #fff;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    width: 85%;
    padding-bottom: 15px;
    align-items: center;
    flex-direction: column;
}



.card2 .img img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
}

.card2 h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.card2 span {
    display: block;
    font-size: 15px;
    color: #4c4c4c;
    margin-bottom: 20px;
    height: 100px;

}
a:hover{
    color: #285f6e;
    text-decoration: underline;
}

.text12 {
    padding: 0px 21px;
    line-height: 1.3;

}

.text12 h1 {
    font-size: 21px;
        font-weight: bolder;
        color: #333;
        padding: 8px 0px;
        height: 70px;
        line-height: 1;
}
.text12 p {

    color: black;
    font-size: 12px;
    margin-bottom: -5px;
    margin-top: 16px;
}
.text12 span{
            display: block;
                font-size: 15px;
                line-height: 1.5;
                color: #4c4c4c;
                margin-bottom: 5px;
                height: 114px;
        
}


#left{
top: -39px;
    margin-left: 84%;
}
#right{
        top: -39px;
            margin-right: 73px;
}

#left2 {
    top: -39px;
    margin-left: 84%;
}

#right2 {
    top: -39px;
    margin-right: 73px;
}






















